.popup-message-background {
  display:none;
  position:fixed;
  _position:absolute; /* hack for internet explorer 6*/
  height:100%;
  width:100%;
  top:0;
  left:0;
  background:#000000;
  border:1px solid #cecece;
  z-index:1000;
}

.popup-message-window {
  display:none;
  position:fixed;
  _position:absolute; /* hack for internet explorer 6*/
  overflow: auto;
  background:#FFFFFF;
  border:2px solid #cecece;
  z-index:2000;
  padding:12px;
  font-size:13px;
  font-family: Open sans, Arial, Helvetica;
}

.popup-message-window h1.popup-message-title {
  text-align:left;
  color:#6FA5FD;
  font-size:22px;
  font-weight:700;
  border-bottom:1px dotted #D3D3D3;
  padding-bottom:2px;
  margin-bottom:20px;
  font-family: Open sans, Arial, Helvetica;
}

.popup-message-close {
  font-size:18px;
  line-height:14px;
  right:6px;
  top:4px;
  position:absolute;
  color:#6fa5fd;
  font-weight:700;
  display:block;
  cursor: pointer;
}

/* Overwrite */
.backgroundPopup{
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000000;
    border:1px solid #cecece;
    z-index:10000;
}
.popupContact{
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    
    background:#FFFFFF;
    
    z-index:200;
    font-size:13px;
}
.popupContact h1{
    display: none;
}
.popupContactClose{
    font-size:18px;
    line-height:14px;
    right:6px;
    top:4px;
    position:absolute;
    color:#ccc;
    font-weight:700;
    display:block;
    cursor: pointer;
}

.popup-message-window {
    padding: 0;
    border: 0;
}

.popup-message-window h2 {
    font-family: Open sans, Arial, Helvetica;
}

.popup-message-window table {
    margin: 0;

}
.popup-message-window table td {
    padding: 10px;

}

.popup-message-window h1.popup-message-title {
    display: none;
}

.popup-message-close {
    color: #ccc;
}