.page-node-add-idea {
  h1.page-header {
    background: url('../images/cabecera-alta-idea.png') top center no-repeat;
    background-size: 100% auto;
    font-size: 36px;
    font-family: $font-family-sans-arial;
    color: white;
    padding: 100px 0 65px 36px;
  }

  .tabledrag-toggle-weight-wrapper {
    display: none;
  }

  .form-group {
    margin-bottom: 22px;
    max-width: 620px;

    label {
      margin-bottom: 10px;
    }
  }

  .field-name-field-idea-group {
    padding-top: 22px;

    label[for=edit-field-idea-group-und] {
      display: none;
    }

    .radio {
      width: 40%;
      display: inline-block;

      label {
        padding-left: 12px;
      }

      input[type="radio"] {
        position: static;
        margin: 0;
      }

      &:first-of-type {
        display: none;
      }
    }
  }

  .field-name-field-related-users {
    label {
      display: block;

      .description {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: $mine-shaft;
        font-weight: normal;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        border-radius: 3px;
        border: 1px solid $iron;
        margin-top: 10px;
        margin-bottom: 22px;
      }
    }

    .glyphicon {
      cursor: pointer;
    }

    .tabledrag-changed-warning.messages.warning,
    .warning.tabledrag-changed {
      display: none !important;
    }
  }

  .field-type-node-reference {
    width: 50%;
  }

  .table-striped > tbody > tr:nth-child(odd) {
    background-color: transparent;
  }

  .table {
    > tbody > tr > td {
      border: none;
      padding: 0;
    }

    > thead > tr > th {
      border: none;
      padding: 0;
    }
    
    .field-multiple-drag {
      display: none;
    }
  }

  #edit-field-attachments-und {
    border-width: 0px;
    box-shadow: none;
  }

  .panel-heading {
    padding: 4px 15px;
    border: none;
    margin: 0;
    border-radius: 4px;

    .help-block {
      font-size: 12px;
    }

    .panel-title {
      font-size: 14px;
      color: $darkgrey;
    }
  }

  button {
    border: 1px solid $gray;
    background: $white;
    color: $mine-shaft;

    &.btn {
      font-weight: bold;
      display: inline-block;
      padding: 8px 30px;
      border-radius: 2px;
      background: $eggplant;
      border-color: $eggplant;
      color: $white;

      &:hover {
        background: $cerise;
        border-color: $cerise;
        color: $white;
      }
    }

    &:hover {
      border-color: $aluminum;
      background-color: $concrete;
    }
  }

  .form-control {
    color: $mine-shaft;
  }
  
  .tabbable {
    display: none;
  }
}