.page-admin-innova-dashboard-admin-pending-voting-ideas {
  .table {
    margin-top: 25px;

    th {
      white-space: nowrap;
    }
  }

  .btn-info {
    margin-top: 1.7em;
    border-color: $eggplant;
    background: $eggplant;
  }

  .form-type-fivestar {
    .form-item {
      float: none;
    }

    .fivestar-static-form-item {
      display: none;
    }

  }
}