body.page-mis-medallas {
  .main-container h1.page-header {
    font-size: 16px;
  }

  #page-header {
    background: url("../images/user-header-tile.png") 0px 110px repeat-x;
    margin-bottom: 20px;
  }

  .region-header .view-id-user.view-display-id-block {
    margin-bottom: 20px;

    .ds-2col-fluid {
      display: table;
      width: 100%;

      > .group-left {
        float: none;
        display: table-cell;
        width: 140px;
        vertical-align: middle;
        padding-right: 20px;
      }

      > .group-right {
        float: none;
        display: table-cell;
        width: auto;
        vertical-align: middle;
      }
    }

    .field-name-innova-user-fullname {
      font-family: $font-family-sans-arial;
      font-size: 36px;
    }

    .field-name-field-karma {
      font-size: 18px;
      font-weight: bold;
      color: $aluminum;
    }

    // .user-picture-wrapper-big
    .user-picture-wrapper {
      width: 120px;
      height: 120px;

      &:after {
        width: 40px;
        height: 40px;
        left: -6px;
        top: -6px;
        background: url('../images/sprite.png') no-repeat -332px -2px;
      }

      &.karma_0:after {
        background-position: -332px -2px;
      }

      &.karma_100:after {
        background-position: -488px -2px;
      }

      &.karma_500:after {
        background-position: -388px -2px;
      }

      &.karma_1500:after {
        background-position: -332px -58px;
      }

      &.karma_3000:after {
        background-position: -387px -58px;
      }

      &.karma_6000:after {
        background-position: -432px -2px;
      }
    }
  }

  .views-exposed-widget.views-widget-filter-field_goal_type_tid {
    .form-type-bef-link {
      display: inline-block;
      margin: 4px 3px;

      &.selected {
        a {
          color: $white;
          background: $baltic-sea;

          &:before {
            color: $white;
          }
        }
      }

      a {
        display: block;
        background: $concrete;
        border-radius: 3px;
        font-size: 12px;
        padding: 6px 12px;

        &:hover {
          color: $white;
          background: $baltic-sea;

          &:before {
            color: $white;
          }
        }

        &:before {
          @extend .fa;
          @extend .fa-certificate;

          color: $iron;
          font-size: 14px;
          margin-right: 8px;
        }
      }
    }
  }

  .view-goals-completed-by-user.view-id-goals_completed_by_user {
    .view-empty {
      .innova-button-purple {
        padding-top: 10px;
        margin-bottom: 60px;
        text-align: center;

        a {
          font-size: 18px;
          font-weight: bold;
          padding: 8px 30px
        }
      }
    }
  }

  #block-views-goals-completed-by-user-block-1 {
    h2.block-title {
      font-size: 16px;
      font-weight: bold;
      border-bottom: 1px solid $lily-white;
      margin-bottom: 30px;
      padding-bottom: 9px;
    }
  }
}

.view-id-goals_completed_by_user {
  .row {
    margin-bottom: 25px;
  }

  .col {
    cursor: pointer;

    > span {
      display: inline-block;
      vertical-align: middle;
    }

    .views-field-title {
      width: 56%;

      h3 {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
      }
    }

    .views-field-goal-img {
      display: none;
    }

    .views-field-field-image-1,
    .views-field-goal-img {
      width: 34%;

      img {
        width: 50px;
        height: auto;
      }
    }

    .views-field-nothing {
      display: none;
      position: absolute;
      z-index: 9;
      background: #FFFFFF;
      border: 1px solid #EBEBEB;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
      border-radius: 3px;
      padding: 15px;
      width: 180%;
      left: 80%;
      top: 0;
      z-index: 30;

      &:after, &:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 10px;
        margin-top: -10px;
      }

      &:before {
        border-color: rgba(235, 235, 235, 0);
        border-right-color: #EBEBEB;
        border-width: 11px;
        margin-top: -11px;
      }

      .goal-hover-field {
        font-size: 12px;
        color: $aluminum;

        h4 {
          margin-top: 0;
          font-weight: bold;
          color: $mine-shaft;
          font-size: 14px;
        }
      }

      .goal-action {
        h5 {
          color: $mine-shaft;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }

    &:hover {
      .views-field-goal-img {
        display: inline-block;
      }

      .views-field-field-image-1 {
        display: none;
      }

      .views-field-nothing {
        display: block;
      }
    }
  }

  &.view-display-id-page_1 {
    .table {
      margin-top: 20px;

      th {
        font-weight: bold;
        font-size: 12px;
        white-space: nowrap;
        vertical-align: bottom;
        border-bottom: none;

        &.views-field-goal-img {
          padding-right: 55px;
          font-size: 16px;
        }

        &.views-field-field-goals-action {
          padding-right: 55px;
        }
      }

      td {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 12px;
        color: $aluminum;
        vertical-align: middle;

        &.views-field-goal-img {
          font-size: 14px;
          font-weight: bold;
          display: table;
          width: 100%;
          padding-top: 15px;
          padding-bottom: 15px;

          .goal_img {
            display: table-cell;
            vertical-align: middle;
            padding-top: 15px;
            padding-bottom: 15px;
            width: 75px;

            img {
              width: 50px;
              height: auto;
            }
          }

          .goal_title {
            text-align: left;
            display: table-cell;
            vertical-align: middle;
            color: $mine-shaft;
          }

          .goal_created {
            display: block;
            font-size: 11px;
            font-weight: normal;
            color: $jumbo;
            margin-top: 2px;
          }
        }
      }
    }
  }

  &.view-display-id-block_3 {
    .col {
      .views-field-goal-img {
        display: inline-block;
      }

      .views-field-field-image-1 {
        display: none;
      }

      &:hover {
        .views-field-nothing {
          display: block;
        }
      }
    }
  }
}