.main-container {
  padding-bottom: 20px;
  background: $white;

  h1.page-header {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 5px;
  }
}

.field-name-title {
  h2 {
    font-family: $font-family-sans-serif;
  }
}

.field-name-field-contest-tags,
.field-name-field-idea-tags {
  .field-label {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .views-row,
  .field-item {
    display: inline-block;
    background: $concrete;
    font-size: 14px;
    margin: 0 8px 8px 0;
    padding: 4px 12px;
    border-radius: 3px;

    &:before {
      @extend .fa;
      @extend .fa-tag;

      color: $iron;
      font-size: 16px;
      padding-right: 8px;
    }

    &:hover,
    &.selected {
      background: $baltic-sea;

      &:before {
        color: $white;
      }

      a,
      a:hover {
        color: $white;
      }
    }
  }
}

.popup-message-window {
  .popup-message-title {
    display: none;
  }

  .popup-message-close {
    width: 40px;
    height: 40px;
    display: block;
    background: url('../images/close.png') center center no-repeat;
    text-indent: -99999px;
    top: -10px;
    position: absolute;
    left: 620px;
    cursor: pointer;
  }
}