.page-preguntas-frecuentes {
  .main-container h1.page-header {
    font-size: 36px;
    font-weight: bold;
    font-family: $font-family-sans-serif;
    margin-bottom: 26px;
    border-bottom: none;
  }

  #block-block-3 p {
    text-align: center;
  }

  .view-faq {
    .view-content {
      .views-row-odd {
        background: $concrete;
      }

      .node.node-faq {
        padding: 28px 20px 28px 20px;

        > h2 {
          font-size: 20px;
          margin: 0;
          cursor: pointer;

          a {
            font-size: 20px;
            font-weight: bold;
            color: $mine-shaft;
          }

          &:before {
            @extend .fa;
            @extend .fa-plus-circle;
            color: $crimsom;
            margin-right: 20px;
          }

          &.minus-icon:before {
            @extend .fa-minus-circle;
          }
        }

        .field-type-text-with-summary {
          display: none;
          margin-top: 40px;

          a {
            color: $crimsom;
          }

          &.visible {
            display: block;
          }
        }
      }
    }
  }
}