body.front {
  .node-slide-home .group-overlay-slidehome {
    max-width: 65%;
  }

  .main-container {
    background: $white-red;
    margin-top: -125px;
    padding-top: 125px;
    padding-bottom: 0;
  }

  // Slideshow block
  #block-views-slider-home-block {
    margin-bottom: 35px;
  }

  // Sidebar
  .col-sm-3 {
    margin-bottom: 35px;
  }

  .highlighted.jumbotron {
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}

.closeblock {
  z-index: 50;
  position: relative;

  .closeblock-button {
    background: url('../images/assets/fa-times.png') center center no-repeat;
    width: 15px;
    height: 16px;
    text-indent: -99999px;
    display: block;
    margin-top: 12px;
    margin-right: 18px;
    cursor: pointer;
  }
}

.view-id-goals_completed_by_user.view-display-id-block_2 {
  background: $white;
  border-left: 7px solid $iris;
  margin-bottom: 60px;

  .views-row {
    position: relative;
    height: 40px;
  }

  .views-field-goal-img {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 56px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .views-field-title {
    display: inline-block;
    padding-left: 155px;
    line-height: 40px;

    .my-goals-button-link {
      display: inline-block;
      margin-left: 55px;

      a {
        font-weight: 12px;
        font-size: bold;
        color: $crimsom;
      }
    }
  }
}