.node.node-page {
  margin-top: 20px;

  .field-name-body {
    h2 {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 20px;
      font-weight: bold;
      color: $mine-shaft;

    }
  }
}