body.page-ideas {
  .main-container {
    background: $white-red;
    padding-top: 20px;
  }

  .region-sidebar-second .block {
    &:first-of-type {
      margin-top: 0;
    }
  }

  .views-exposed-form {
    @extend .col-md-9;
    padding: 0 0 20px 0;

    label {
      font-size: 16px;
    }

    .views-widget-sort-order {
      display: none;
    }

    .views-submit-button {
      display: none;
    }

    .form-type-bef-link {
      display: inline-block;
      background: $concrete;
      padding: 4px 8px;
      border-radius: 3px;
      margin-right: 5px;

      a {
        font-size: 12px;
        line-height: 17px;
        color: $mine-shaft;
        text-decoration: none;

        &:before {
          @extend .fa;
          @extend .fa-filter;
          font-size: 17px;
          color: $iron;
          padding-right: 5px;
        }
      }

      &:hover,
      &.selected {
        background: $baltic-sea;

        a {
          color: $white;
        }
      }
    }

    .views-widget-sort-by {
      margin-left: 110px;

      .form-type-bef-link {
        a:before {
          @extend .fa-sort;
        }
      }
    }

    .form-item-sort-bef-combine {
      .form-type-bef-link {
        a:before {
          @extend .fa-sort;
        }
      }
    }
  }
}