.view-id-ideas.view-display-id-block_7 {
  .view-content {
    background: none;
    padding: 0;
  }

  .field-name-post-date {
    color: $aluminum;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .field-name-innova-authored-block {
    text-align: center;

    // This is defined as user-picture-wrapper-big on _avatars.scss, but we have no way of adding that class ATM
    .field-item > .user-profile .field-name-innova-user-picturekarma .user-picture-wrapper {
      width: 80px;
      height: 80px;

      &:after {
        width: 40px;
        height: 40px;
        left: -12px;
        top: -12px;
        background: url('../images/sprite.png') no-repeat -332px -2px;
      }

      &.karma_0:after {
        background-position: -332px -2px;
      }

      &.karma_100:after {
        background-position: -488px -2px;
      }

      &.karma_500:after {
        background-position: -388px -2px;
      }

      &.karma_1500:after {
        background-position: -332px -58px;
      }

      &.karma_3000:after {
        background-position: -387px -58px;
      }

      &.karma_6000:after {
        background-position: -432px -2px;
      }
    }

    .field-name-innova-user-fullname {
      margin: 15px 0;

      a {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .field-name-field-karma {
      font-size: 14px;
    }

    .flag-follow-user {
      display: block;
      margin: 15px 0;

      @extend .innova-button;
      @extend .innova-button-purple;
      @extend .innova-button-small;
    }

    .author-idea-block {
      font-size: 18px;
      font-weight: bold;

      &:before {
        @extend .fa;
        @extend .fa-group;

        display: block;
        font-size: 75px;
        margin-bottom: 15px;
        color: $aluminum;
      }
    }

    .author-idea-members {
      ul {
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 30px;

          &.first {
            margin-top: 30px;
          }

          &.last {
            margin-bottom: 0;
          }

          .user-profile {
            display: table;
            width: 100%;
          }

          .group-right,
          .group-left {
            width: auto;
            display: table-cell;
            float: none;
            vertical-align: top;
          }

          .group-left {
            width: 70px;
          }

          .group-right {
            text-align: left;
            vertical-align: middle;
          }

          .field-name-innova-user-fullname {
            margin: 0;

            a {
              font-size: 11px;
            }
          }

          .field-name-field-karma {
            font-size: 11px;
            color: $jumbo;
          }
        }
      }
    }
  }
}

body.node-type-idea {
  .main-container {
    padding-bottom: 20px;
  }

  .region-content {
    .field-name-title {
      margin-bottom: 60px;

      h2 {
        color: $crimsom;
        font-family: $font-family-sans-serif;
        font-size: 45px;
        font-weight: bold;
        margin-top: 4px;
      }
    }

    .field-name-post-date {
      color: $aluminum;
      font-size: 12px;
      font-weight: bold;
    }

    .field-name-innova-idea-related-contest {
      margin-bottom: 40px;

      .wrapper-idea-contest {
        background: $thunder;
        color: $white;
        padding: 0 20px 0 80px;
        border-radius: 3px;
        line-height: 32px;
        height: 32px;
        position: relative;

        a {
          color: $white;
        }

        &.winner {
          color: $mine-shaft;
          background: $tacha;

          &:before {
            color: $mine-shaft;
          }
        }

        &:before {
          content: "";
          display: block;
          background: url('../images/assets/banner-reto.png') center center no-repeat;
          width: 48px;
          height: 45px;
          position: absolute;
          left: 20px;
          top: -9px;
        }
      }

      .field-item {

      }
    }

    .field-type-text-with-summary {
      border-top: 1px solid $concrete;
      margin-top: 35px;
      padding-top: 30px;
    }

    .field-name-field-workflow-closing-area {
      display: none;
    }

    .field-name-field-workflow-closing-reason {
      background: $knot;
      border: 1px solid $crimsom;
      padding: 30px 25px 30px 25px;
      border-radius: 3px;
      margin-top: 35px;

      .field-name-title {
        margin-bottom: 25px;

        h3 {
          font-size: 20px;
          font-weight: bold;
          margin: 0;

          &:before {
            @extend .fa;
            @extend .fa-exclamation-triangle;

            font-size: 20px;
            color: $crimsom;
            margin-right: 30px;
          }
        }
      }
    }

    .group-idea-actions-block {
      display: table;

      .field {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        padding: 0 25px;
        text-align: center;

        .field-items {
          font-weight: bold;
          font-size: 16px;
        }

        // Right field borders
        &:after {
          top: 0;
          right: 0;
          content: "";
          height: 85%;
          margin-top: 7.5%;
          position: absolute;
          border-right: 1px solid $concrete;
        }

        // But not on the last nor on the flag or follow action
        &:last-of-type:after,
        &.field-name-flag-like-idea:after,
        &.field-name-flag-follow-idea:after {
          display: none;
        }

        &:first-of-type {
          padding-left: 0;
          text-align: left;
        }

        &:last-of-type {
          padding-right: 0;
        }
      }

      // Estado
      .field-name-field-status {
        text-transform: lowercase;

        .field-label {
          color: $aluminum;
          font-size: 12px;
        }
      }

      // Botón me gusta
      .field-name-flag-like-idea {
        @extend .innova-button;
        @extend .innova-button-purple;
        @extend .innova-button-small;

        padding-right: 0;
      }

      // Número de me gustas
      .field-name-flag-count-like-idea {
        // padding-left: 0;

        .field-item:before {
          @extend .fa;
          @extend .fa-heart;

          display: block;
          color: $crimsom;
          margin-bottom: 3px;
          font-size: 16px;
        }
      }

      // Botón seguir
      .field-name-flag-follow-idea {
        @extend .innova-button;
        @extend .innova-button-purple;
        @extend .innova-button-small;

        padding-right: 0;
      }

      // Numero de follows
      .field-name-flag-count-follow-idea {
        // padding-left: 0;

        .field-item:before {
          @extend .fa;
          @extend .fa-thumb-tack;

          display: block;
          color: $crimsom;
          margin-bottom: 3px;
          font-size: 16px;
        }
      }

      // Número de comentarios
      .field-name-innova-comment-count {
        .field-item:before {
          @extend .fa;
          @extend .fa-comment;

          display: block;
          color: $crimsom;
          margin-bottom: 3px;
          font-size: 16px;
        }
      }

      .field-name-field-vote {
        p {
          display: none;
        }
      }
    }

    .node.status_Cerrada {
      .field-name-flag-count-follow-idea .field-item:before,
      .field-name-innova-comment-count .field-item:before,
      .field-name-flag-count-like-idea .field-item:before,
      .field-name-flag-count-follow-idea,
      .field-name-innova-comment-count,
      .field-name-flag-count-like-idea {
        color: $aluminum;
      }
    }

    .field-name-body,
    .field-name-field-benefits {
      margin-bottom: 35px;

      .field-label {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }
}