.idea-confirmacion {
  background: url('../images/assets/idea-publicada-bg.png') top center no-repeat;
  background-size: 100% auto;
  min-height: 750px;
  padding-left: 90px;
  padding-top: 30px;

  .confirmation-points-text {
    margin-left: 70px;
    max-width: 350px;
    margin-bottom: 155px;
  }

  .field-name-idea-confirm-footer,
  .field-name-idea-confirm-header {
    color: $white;

    h2 {
      font-size: 20px;
      line-height: 40px;
      font-weight: bold;

      &:before {
        content: "";
        background: url('../images/assets/fa-check-circle-bg.png') center left no-repeat;
        padding-top: 45px;
        padding-right: 70px;
        display: block;
        float: left;
      }
    }
  }

  .field-name-idea-confirm-footer {
    h2 {
      &:before {
        background: url('../images/assets/fa-share-bg.png') center left no-repeat;
      }
    }
  }

  .field-name-innova-shareidea-link,
  .field-name-forward-ds-field,
  .field-name-node-link,
  .field-name-button-add-idea {
    display: inline-block;

    .field-item {
      a {
        font-size: 16px;
        padding: 6px 28px;
        border-radius: 3px;
        border: 2px solid $lily-white;
      }
    }
  }

  .field-name-innova-shareidea-link,
  .field-name-node-link {
    .field-item a {
      @include background-alpha($white, 0.25);
      border-color: $lily-white;
      color: $white;

      &:hover {
        color: $mine-shaft;
        background: $lily-white;
        border-color: $lily-white;
      }
    }
  }

  .field-name-button-add-idea {
    .field-item a {
      &:hover {
        border-color: $cerise;
      }
    }
  }

  .field-name-innova-shareidea-link,
  .field-name-forward-ds-field,
  .field-name-node-link {
    margin-right: 20px;

    .field-item {
      @extend .innova-button;
      @extend .innova-button-white;
    }
  }

  .field-name-button-add-idea {
    .field-item {
      @extend .innova-button;
      @extend .innova-button-purple;

      a {
        border-color: $violet;
      }
    }
  }

  .field-name-innova-shareidea-link {
    margin-left: 70px;
    margin-top: 16px;
  }

  .field-name-idea-confirm-footer {
    p {
      padding-left: 70px;
      max-width: 400px;
    }
  }

  .field-name-forward-ds-field,
  .group-idea-confirm-buttons {
    margin-bottom: 100px;
  }
}