body.page-noticias-innovacion {
  .main-container .page-header {
    font-size: 36px;
    border: none;
    font-family: $font-family-sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .news-teaser-list {
    .view-content {
      padding-bottom: 25px;

      .views-row {
        border-bottom: 1px solid $concrete;

        .picture,
        .content {
          padding: 30px 0;
        }

        .col-md-8.content {
          padding-left: 10px;
        }
      }
    }
  }
}