body.page-ranking,
body.page-ranking-ideas {
  .main-container {
    padding-top: 45px;
  }

  #block-menu-block-3 {
    ul.nav {
      li {
        display: inline-block;
        padding: 0;
        background: none;
        margin-right: 10px;

        a {
          font-size: 11px;
          color: $mine-shaft;
          background: $concrete;
          border-radius: 3px;
          padding: 6px 8px;

          &.active,
          &:hover {
            background: $baltic-sea;
            color: $white;

            &:before {
              color: $white;
            }
          }

          &:before {
            @extend .fa;
            @extend .fa-tachometer;

            color: $iron;
            float: left;
            margin-top: -2px;
            font-size: 17px;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
.view-ranking {
  font-family: $font-family-sans-arial;

  .view-content {
    .views-table {
      font-family: $font-family-sans-arial;

      thead {
        tr {
          th {
            font-weight: bold;
            font-size: 12px;
            border-bottom: none;
            padding-bottom: 15px;
          }
        }
      }

      tbody {
        tr {
          border-top: none;
          border-bottom: 1px solid $concrete;

          td {
            vertical-align: middle;

            &.views-field-max-points {
              color: $aluminum;
              font-size: 16px;
              width: 20%;
            }

            &.views-field-nid {
              font-size: 24px;
              color: $mine-shaft;
              font-weight: bold;
              width: 20%;
            }

            &.views-field-counter {
              font-size: 16px;
              color: $aluminum;
              vertical-align: middle;
              width: 10%;
              font-weight: normal;
            }

            &.views-field-rendered-entity {
              .user-profile.view-mode-item_list_user_mini {
                display: table;
                width: 100%;
                margin-top: 5px;
                margin-bottom: 5px;

                .group-left {
                  width: 65px;
                  float: none;
                  display: table-cell;
                  vertical-align: middle;
                  padding-right: 20px;

                  .field-name-ds-user-picture {
                    a {
                      img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50px;
                      }
                    }
                  }
                }

                .group-right {
                  width: auto;
                  margin-top: 10px;
                  float: none;
                  display: table-cell;
                  vertical-align: middle;

                  .field-name-innova-user-fullname {
                    font-weight: bold;
                    font-size: 14px;
                    color: $mine-shaft;
                    vertical-align: middle;

                    a {
                      text-decoration: none;
                      font-weight: bold;
                      font-size: 14px;
                      color: $mine-shaft;
                      vertical-align: middle;
                    }
                  }

                  .field-name-field-karma {
                    font-size: 11px;
                    font-weight: normal;
                    color: $jumbo;
                    margin-top: 2px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
