.page-retos {
  .view-id-contest.view-display-id-page {
    .views-row {
      margin-bottom: 30px;

      &.views-row-last {
        margin-bottom: 0;
      }
    }
  }

  .node-contest {
    position: relative;

    .field-name-field-header-image {
      .field-item img {
        width: 100%;
        height: auto;
      }
    }
  }

  .view-id-contest.view-display-id-block_2 {
    .ds-4col {
      display: table;
      width: 100%;

      > .group-first,
      > .group-second,
      > .group-third,
      > .group-fourth {
        float: none;
        display: table-cell;
        vertical-align: middle;
        width: 25%;
        padding: 0 10px;
      }

      > .group-first {
        padding-left: 0;
      }

      > .group-fourth {
        padding-right: 0;
      }
    }

    .view-header {
      @include clearfix;
      padding-bottom: 15px;
      border-bottom: 1px solid $lily-white;

      h3 {
        font-size: 14px;
        font-weight: bold;
      }
    }

    .view-content {
      .views-row {
        padding: 10px 0 15px 0;
        border-bottom: 1px solid $lily-white;

        h3 {
          a {
            font-size: 16px;
            font-weight: bold;
            color: $mine-shaft;
          }
        }

        .field-name-field-expiration-date {
          font-size: 14px;
          font-weight: normal;
          line-height: 82px;
          color: $aluminum;
        }

        .field-name-innova-contest-idea-author-first-winner {
          display: table;
          width: 100%;

          .ds-2col-fluid > .group-left {
            display: table-cell;
            float: none;
            width: 75px;
            vertical-align: middle;
          }

          .ds-2col-fluid > .group-right {
            display: table-cell;
            float: none;
            width: auto;
            vertical-align: middle;
          }

          .field-name-innova-user-fullname a {
            color: $mine-shaft;
            font-size: 12px;
            font-weight: bold;
          }

          .field-name-field-karma {
            color: $jumbo;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.group-contest-info-tab {
  padding: 0;

  .panel-body {
    padding: 0;
  }

  h3 {
    span {
      font-size: 16px;
      font-weight: bold;
      color: $mine-shaft;
    }
  }

  ul {
    padding-left: 25px;
  }
}

.group-contest-tabs {
  .horizontal-tabs {
    border: none;
  }
}

.node-contest {
  .horizontal-tabs {
    ul.horizontal-tabs-list {
      li {
        border: none;
        width: 140px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin-right: 1px;
        text-align: center;

        &.selected {
          strong {
            color: $mine-shaft;
          }
        }

        a {
          color: $aluminum;
        }
      }
    }
  }
}

.group-contest-ideas-tab {
  ul {
    list-style: none;
    padding: 0;
  }
}