.group-overlay-slidehome {
  position: absolute;
  max-width: 80%;
  top: 15%;
  left: 10%;
  color: $white;
  font-family: $font-family-sans-serif;
  border-radius: 3px;
  padding: 0 10px;
  @include background-alpha($mine-shaft, 0.4);

  .field-name-innova-contest-header {
    .contest-status {
      h3 {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
        font-family: $font-family-sans-arial;
        border-radius: 3px 3px 0 0;
        @include background-alpha($violet, 0.78);

        &:before {
          @extend .fa;
          @extend .fa-trophy;

          margin: 0 10px 0 15px;
          padding: 5px 0;
        }
      }
    }

    .contest-data {
      padding-left: 15px;
      padding-right: 15px;

      h2 a {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 5px;
        color: $white;
      }

      p {
        font-size: 18px;
        font-weight: normal;
      }

      .contest-date {
        font-size: 12px;
        display: block;
        line-height: 45px;

        &strong {
          display: block;
        }
      }

      .innova-button {
        display: inline-block;
        width: 47.5%;
        margin-right: 5%;
        padding-bottom: 15px;

        a {
          white-space: nowrap;
          border: 3px solid $eggplant;

          &:hover {
            border-color: $cerise;
          }
        }

        &.last-of-type {
          margin-right: 0;

          a {
            border-color: $white;
            background: transparent;

            &:hover {
              background: $white;
              color: $thunder;
            }
          }
        }

        a {
          font-family: $font-family-sans-arial;
          padding: 8px 35px;
          font-size: 18px;
          display: block;
          text-align: center;
        }
      }
    }
  }

  .field-name-title {
    h2 {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  .field-type-text-with-summary {
    font-size: 18px;
    line-height: 22px;
  }

  .field-name-field-link-button {
    padding: 20px 0px;

    a {
      font-weight: bold;
      display: inline-block;
      padding: 8px 35px;
      border-radius: 2px;
      background: $eggplant;
      color: $white;
      font-size: 18px;
      font-family: $font-family-sans-arial;

      &:hover {
        background: $cerise;
      }
    }
  }
}

body.page-retos {
  .view-empty {
    position: relative;

    .group-overlay-slidehome {
      max-width: 60%;
      padding-bottom: 60px;
      padding-top: 20px;
    }
  }
}