body.page-innova-search {
  #block-system-main {
    h2 {
      font-family: $font-family-sans-serif;
      font-size: 36px;
      font-weight: bold;
      border-bottom: none;
      margin: 0 0 35px 0;

      .search-key {
        color: $crimsom;
      }
    }
  }

  .view-innova-search {
    .view-filters {
      display: none;
    }
  }

  .quicktabs-tabs {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    border-bottom: 1px solid $fgray;

    li {
      vertical-align: middle;
      display: inline-block;
      width: 23%;
      padding: 0;
      margin: 0;
      margin-right: 1%;
      text-align: center;

      a {
        display: block;
        padding: 10px 40px;
        border-radius: 3px 3px 0px 0px;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        margin-bottom: -1px;
        color: $aluminum;
      }

      &.active a,
      a:hover {
        border-color: $fgray;
        background: $white;
        color: $mine-shaft;
        font-weight: bold;
      }

      &.last {
        margin-right: 0;
      }
    }
  }
}