body.page-user {
  .user-sidebar {
    padding-top: 40px;
  }

  .user-header {
    background: url("../images/user-header-tile.png") 0px 110px repeat-x;

    .group-user-info-panel {
      .field-name-innova-user-picturekarma {
        float: left;
        width: 20%;

        // .user-picture-wrapper-big
        .user-picture-wrapper {
          width: 120px;
          height: 120px;

          &:after {
            width: 40px;
            height: 40px;
            left: -6px;
            top: -6px;
            background: url('../images/sprite.png') no-repeat -332px -2px;
          }

          &.karma_0:after {
            background-position: -332px -2px;
          }

          &.karma_100:after {
            background-position: -488px -2px;
          }

          &.karma_500:after {
            background-position: -388px -2px;
          }

          &.karma_1500:after {
            background-position: -332px -58px;
          }

          &.karma_3000:after {
            background-position: -387px -58px;
          }

          &.karma_6000:after {
            background-position: -432px -2px;
          }
        }
      }

      .field-name-innova-user-fullname,
      .field-name-field-karma {
        float: right;
        width: 80%;
      }

      .field-name-innova-user-fullname {
        font-family: $font-family-sans-serif;
        font-size: 36px;
        color: $mine-shaft;
        margin-top: 25px;
      }

      .field-name-field-karma {
        font-size: 18px;
        font-weight: bold;
        color: $aluminum;
      }
    }

    .group-user-summary-panel {
      clear: both;
      display: table;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 60px;

      > .field {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        position: relative;

        &:after {
          display: block;
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          border-right: 1px solid $gray;
          height: 30px;
          margin-top: 17px;
        }
        
        &:last-of-type:after {
          display: none;
        }

        .field-label {
          font-size: 13px;
          font-weight: bold;
          line-height: 25px;
          color: $aluminum;

          .icon:before {
            @extend .fa;

            color: $crimsom;
            font-size: 24px;
          }

          .icon {
            margin-right: 8px;
            vertical-align: middle;
            display: inline-block;
          }

          .icon-label {
            line-height: 24px;
            display: inline-block;
          }
        }

        .field-item {
          font-size: 24px;
          font-weight: bold;
          color: $mine-shaft;
        }

      }

      > .field-name-innova-user-ranking {
        .field-label .icon:before {
          @extend .fa-tachometer;
        }
      }

      > .field-name-innova-user-points-count {
        .field-label .icon:before {
          @extend .fa-smile-o;
        }
      }

      > .field-name-flag-usernode-follow-idea {
        .field-label .icon:before {
          @extend .fa-thumb-tack;
        }
      }

      > .field-name-flag-usernode-like-idea {
        .field-label .icon:before {
          @extend .fa-heart;
        }
      }

      > .field-name-innova-user-goals-count {
        .field-label .icon:before {
          @extend .fa-certificate;
        }
      }

      > .field-name-flag-follow-user {
        @extend .innova-button;
        @extend .innova-button-purple;

        a {
          font-size: 14px;
        }
      }

      > .field-name-innova-user-followers-followed {
        .field-item {
          font-size: 13px;

          .user-followers,
          .user-followed {
            display: block;
            color: $aluminum;

            .count {
              color: $mine-shaft;
            }
          }
        }
      }
    }
  }

  .group-profile-tabs {
    margin-top: -36px;

    .horizontal-tabs {
      border: none;

      fieldset.horizontal-tabs-pane {
        padding: 0;
      }

      ul.horizontal-tabs-list {
        border: none;
        background: none;

        li {
          border: none;
          background: none;
          height: 32px;
          margin-right: 5px;

          a {
            padding: 8px 20px;
            color: $aluminum;
            border-radius: 3px 3px 0 0;

            &:hover {
              background: $white;
            }
          }

          strong {
            font-weight: normal;
          }

          &.selected {
            a {
              background: $white;
            }

            strong {
              font-weight: bold;
              color: $mine-shaft;
            }
          }
        }
      }

      .panel-body {
        padding: 0;
        padding-top: 45px;

        .block-title {
          display: none;
        }
      }
    }

    // Pestaña Suscripciones
    .view-id-suscripciones.view-display-id-block {
      .view-header {
        margin-bottom: 25px;

        h4 {
          font-size: 24px;
          font-family: $font-family-sans-serif;
        }

        h3 {
          font-size: 20px;
          font-family: $font-family-sans-serif;
          color: $aluminum;
        }
      }

      .views-row {
        display: table;
        margin-bottom: 20px;

        .views-field-ops {
          display: table-cell;
          padding-right: 20px;
          vertical-align: middle;

          .flag-message,
          .flag-throbber {
            display: none;
          }

          a.flag-link-toggle {
            display: block;

            &.unflag-action {
              &:before {
                @extend .fa;
                @extend .fa-check-circle;

                font-size: 40px;
                color: $crimsom;

              }
            }

            &.flag-action {
              &:before {
                @extend .fa;
                @extend .fa-times-circle;

                font-size: 40px;
                color: $gray;

              }
            }
          }
        }

        .views-field-name {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    // Pestaña Notificaciones
    .view-id-message.view-display-id-block_1 {
      .views-row {
        padding: 15px 0;
        border-bottom: 1px solid $concrete;

        .activity-message-time {
          font-size: 12px;
          font-weight: bold;
          color: $aluminum;
          margin-left: 65px;
          margin-bottom: -18px;
        }

        .activity-message-data {
          display: table;
          vertical-align: top;
          width: 100%;

          .grid-2,
          .grid-10 {
            display: table-cell;
          }

          .grid-2 {
            width: 65px;
          }

          .grid-10 {
            padding-top: 19px;
          }
        }

        .user-picture {
          img {
            width: 50px;
            height: auto;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.avatar_uploader {
  #crop_btns {
    width: auto;
    text-align: center;
  }
}

.user-profile.view-mode-search_result {
  position: relative;
  padding: 22px 0 22px 0;
  border-bottom: 1px solid $concrete;

  .group-icon-wrapper {
    display: table;
    width: 100%;
    vertical-align: middle;

    &:before {
      @extend .fa;
      @extend .fa-user;

      display: table-cell;
      vertical-align: middle;
      font-size: 35px;
      color: $iron-white;
      width: 80px;
    }

    .field-name-innova-user-picturekarma {
      display: table-cell;
      width: 70px;
      padding-right: 20px;
      vertical-align: middle;
    }

    .group-right {
      display: table-cell;
      vertical-align: middle;

      .field-name-innova-user-fullname {
        padding-top: 4px;

        a {
          font-weight: bold;
        }
      }

      .field-name-field-karma {
        font-size: 11px;
        color: $jumbo;
      }
    }
  }
}
















