.field-name-innova-user-picturekarma {
  margin-bottom: 0px;
  position: relative;
  z-index: 10;

  .user-picture-wrapper {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    display: block;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      left: -6px;
      top: -6px;
      background: url('../images/sprite.png') no-repeat -230px 0;
      z-index: 5;
    }

    img {
      display: block;
      position: relative;
      z-index: -5;
    }

    &.karma_0:after {
      background-position: -230px 0;
    }

    &.karma_100:after {
      background-position: -230px -38px;
    }

    &.karma_500:after {
      background-position: -230px -75px;
    }

    &.karma_1500:after {
      background-position: -304px -74px;
    }

    &.karma_3000:after {
      background-position: -305px -38px;
    }

    &.karma_6000:after {
      background-position: -305px 0;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      margin: 8px auto 0 auto;
      box-shadow: 0 0 0 1px #fff;
      display: block;
    }

    a {
      .edit-label {
        display: none;
        font-family: FontAwesome;
        position: absolute;
        top: 0;
        border-radius: 50%;
        width: 120px;
        height: 120px;

        @include background-alpha($crimsom, 0.3);

        span {
          display: block;
          text-align: center;
          font-size: 30px;
          color: $white;
          vertical-align: middle;
          width: 100%;
          margin-top: 37px;
        }
      }

      &:hover .edit-label {
        display: block;
      }
    }
  }

  .user-picture-wrapper.user-picture-wrapper-big {
    width: 80px;
    height: 80px;

    &:after {
      width: 40px;
      height: 40px;
      left: -12px;
      top: -12px;
      background: url('../images/sprite.png') no-repeat -332px -2px;
    }

    &.karma_0:after {
      background-position: -332px -2px;
    }

    &.karma_100:after {
      background-position: -488px -2px;
    }

    &.karma_500:after {
      background-position: -388px -2px;
    }

    &.karma_1500:after {
      background-position: -332px -58px;
    }

    &.karma_3000:before {
      background-position: -387px -58px;
    }

    &.karma_6000:after {
      background-position: -432px -2px;
    }
  }

  .user-picture-wrapper.user-picture-wrapper-small {
    width: 40px;
    height: 40px;

    &:after {
      width: 20px;
      height: 20px;
      left: -6px;
      top: -6px;
    }

    &.karma_0:after {
      background-position: -233px -103px;
    }

    &.karma_100:after {
      background-position: -233px -141px;
    }

    &.karma_500:after {
      background-position: -233px -178px;
    }

    &.karma_1500:after {
      background-position: -307px -177px;
    }

    &.karma_3000:before {
      background-position: -308px -141px;
    }

    &.karma_6000:after {
      background-position: -308px -103px;
    }
  }
}