.innova-button {
  a {
    font-weight: bold;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 2px;
  }

  &.innova-button-white a {
    border: 1px solid $gray;
    background: $white;
    color: $mine-shaft;

    &:hover {
      border-color: $aluminum;
      background-color: $concrete;
    }
  }

  &.innova-button-purple a {
    background: $eggplant;
    color: $white;

    &:hover {
      background: $cerise;
    }
  }

  &.innova-button-small a {
    font-size: 11px;
  }
}

.btn-large,
#button-add-idea-topbar {
  color: $white;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  padding: 5px 27px;
  border-radius: 2px;
  padding-left: 20px;
  background: $eggplant;
  font-family: $font-family-sans-serif;
  white-space: nowrap;

  &:hover {
    background: $cerise;
  }

  &:before {
    @extend .fa;
    @extend .fa-lightbulb-o;
    float: left;
    font-size: 20px;
    margin-right: 11px;
  }
}

.btn-large.btn-hover {
  background: $cerise;
}