.views-bootstrap-carousel-plugin-style {
  .carousel-control {
    width: 60px;
    opacity: 1;

    &:hover {
      opacity: 0.6;
    }

    &.right,
    &.left {
      background: transparent;
      filter: none;

      span.icon-prev {
        background: url('../images/sprite.png') no-repeat -29px -72px;
        width: 15px;
        height: 29px;

        &:before {
          content: "";
        }
      }

      span.icon-next {
        @extend span.icon-prev;

        background-position: -130px -71px;
      }
    }
  }
}

.region-header {
  .carousel-control {
    &.left {
      span.icon-prev {
        background-position: -29px -123px;
      }
    }

    &.right {
      span.icon-next {
        background-position: -130px -123px;
      }
    }
  }

  .carousel-inner {
    > .item.active {
      position: relative;

    }
  }
}
