.field-name-innova-back-to-list {
  margin-bottom: 56px;

  @extend .innova-button;
  @extend .innova-button-white;
  @extend .innova-button-small;
}

.comment-wrapper {
  margin-top: 30px;

  .title.comment-form {
    font-size: 16px;
    font-weight: bold;
    color: $mine-shaft;
    padding-bottom: 0;
    border: none;
    border-top: 1px solid $concrete;
    margin-bottom: 20px;
    margin-top: 35px;
    padding-top: 35px;
  }

  .comment-form {
    padding-bottom: 60px;
    margin-bottom: 35px;
    border-bottom: 1px solid $concrete;

    .form-type-textarea {
      label {
        display: none;
      }
    }

    .btn-default {
      border: none;
      background: $violet;
      color: $white;
      font-size: 12px;
      font-weight: bold;
      display: inline-block;
      padding: 4px 12px;
      border-radius: 2px;

      &:hover {
        background: $cerise;
      }
    }

    .form-group {
      margin-bottom: 35px;
    }
  }

  .comment {
    padding-bottom: 35px;
    border-bottom: 1px solid $concrete;
    margin-bottom: 33px;

    .author {
      .field-name-innova-user-karma-txt {
        color: $aluminum;
        font-size: 11px;
        text-align: center;
        margin-top: 12px;
      }
    }

    .comment-text {
      // The username is wrapped in a span has a class, but some times it doesn't
      > span a,
      > span {
        font-size: 14px;
        font-weight: bold;
        color: $mine-shaft;
      }

      > span {
        display: block;
        float: left;
      }

      .field-name-post-date {
        float: right;
        font-size: 12px;
        text-align: right;
        color: $aluminum;
      }

      .field-name-comment-body {
        clear: both;
        font-size: 14px;
        color: $mine-shaft;
        padding-top: 18px;
      }
    }
  }
}

.comment.view-mode-last_comments_list {
  // TODO: Estas clases deberían ser un group-left y group-right, no col-*-*
  .col-md-2 {
    width: 60px;

    padding: 0;
    margin-right: 10px;
  }

  .col-md-10 {
    width: 126px;
    padding: 0;
    font-size: 12px;
  }

  .field-name-post-date {
    font-size: 11px;
    color: $aluminum;
  }

  a,
  .field-name-innova-user-fullname {
    font-weight: bold;
  }

  .field-name-innova-user-fullname {
    display: inline;

    * {
      display: inline;
    }
  }
}