footer.footer {
  width: 100%;
  padding-bottom: 0;
  padding-top: 0;
  background: $mine-shaft;

  #block-views-quotes-block {
    background: $thunder;

    .views-bootstrap-carousel-plugin-style {
      padding: 40px 0;
      text-align: center;

      div.views-field-body {
        padding: 0 100px;
        color: $white;
        line-height: 30px;
        font-size: 24px;
        font-weight: bold;
      }

      div.views-field-field-quote-author {
        @extend div.views-field-body;
        font-family: $font-family-sans-arial;
        padding-top: 15px;
        font-size: 20px;
        font-weight: normal;
        color: $magnesium;
      }
    }
  }

  .region-sub-footer {
    font-size: 15px;
    padding: 25px 0 25px 0;
    color: $iron;

    p {
      margin: 0;
    }

    #block-menu-menu-footer-menu {
      ul.menu {
        text-align: right;

        li {
          display: inline;

          a {
            font-size: 15px;
            display: inline;
            padding: 0;
            margin: 0;
            padding-right: 5px;
            color: $iron;

            &:after {
              padding-left: 5px;
              content: "|";
            }

            &:hover {
              background: none;
            }
          }

          &.last a:after {
            content: "";
          }
        }
      }
    }
  }
}