form.search-form .form-group {
  span.fa {
    color: $iron;
    display: block;
    position: absolute;
    top: 11px;
    font-size: 20px;
    left: 10px;
  }

  input.form-text {
    margin-top: 6px;
    height: 33px;
    padding: 6px 6px 6px 35px;
    border: 1px solid transparent;

    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
  }
}