header.navbar-default {
  padding-top: 12px;
  background: none;
  border: none;
  margin-bottom: 25px;
  z-index: 0;

  .logo-header {
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;

    a.logo:before {
      display: block;
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      background: url("../images/assets/logo-vodafone.png") center right no-repeat;
      top: 48px;
      left: -80px;
      z-index: 5;
    }

    .rhombus {
      position: absolute;
      width: 3656px;
      height: 320px;
      left: -3662px;
      top: -509px;
      z-index: -5;
      box-sizing: content-box;
      background: url("../images/rhombus-big.png") top right no-repeat;
    }

    /*
      &:before {
        transform: scale(0.9999);
        content: ' ';
        width: 0px;
        height: 0px;
        border-bottom: 9999px solid $crimsom;
        border-right: 9999px solid transparent;
        border-left: 0;
        border-top: 0;
        position: absolute;
        left: 45px;
        top: -9956px;
        box-sizing: content-box;
      }

      &:after {
        content: ' ';
        width: 0px;
        height: 0px;
        border-top: 9999px solid $crimsom;
        border-right: 9999px solid transparent;
        position: absolute;
        left: 44px;
        top: 76px;
        z-index: 1;
        transform: scale(0.9999);
        box-sizing: content-box;
      }
    }*/
  }

  .region-header-actions {
    display: table;
    float: right;
    margin-bottom: 9px;

    #block-views-user-block-1, #block-block-2 {
      display: table-cell;
      vertical-align: middle;

      p {
        margin: 0;
      }
    }

    #block-block-2 {
      padding-right: 30px;
    }

    #block-views-user-block-1 {
      width: auto;

      .user-profile {
        display: table;
        width: 100%;

        .group-left,
        .group-right {
          display: table-cell;
          vertical-align: middle;
          float: none;
          width: auto;
        }

        .group-left {
          width: 50px;
          padding-right: 20px;

          .field-name-innova-user-picturekarma {
            float: right;

            .user-picture-wrapper {
              width: 40px;
              height: 40px;

              &:after {
                width: 20px;
                height: 20px;
                left: -6px;
                top: -6px;
              }

              &.karma_0:after {
                background-position: -233px -103px;
              }

              &.karma_100:after {
                background-position: -233px -141px;
              }

              &.karma_500:after {
                background-position: -233px -178px;
              }

              &.karma_1500:after {
                background-position: -307px -177px;
              }

              &.karma_3000:after {
                background-position: -308px -141px;
              }

              &.karma_6000:after {
                background-position: -308px -103px;
              }
            }
          }
        }

        .group-right {
          .field-name-innova-user-fullname {
            display: table-cell;
            vertical-align: middle;

            a {
              font-weight: bold;
              font-size: 14px;
              color: $mine-shaft;
            }
          }

          .field-name-innova-user-notifications-badge {
            display: table-cell;
            vertical-align: middle;
            margin-left: 20px;
            margin-top: -8px;
            width: 25px;
            padding-left: 10px;

            .field-items {
              position: relative;

              a {
                color: $white;
              }

              &:after {
                @extend .fa;
                @extend .fa-bell:before;

                color: $mine-shaft;
                font-size: 20px;
                position: absolute;
                margin-left: -8px;
                margin-top: -9px;
                z-index: 5;
              }

              .field-item {
                background: $crimsom;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                color: $white;
                font-size: 14px;
                font-weight: bold;
                z-index: 10;
                position: relative;
              }
            }
          }
        }
      }
    }
  }

  .navbar-collapse {
    padding: 0px 10px;

    nav {
      padding: 0;
      background: $crimsom;
      border-radius: 3px;
      @include clearfix();

      .col-md-9 {
        margin: 0;
        padding-left: 0;
      }

      .col-md-3 {
        padding-left: 0;
        padding-right: 5px;
      }

      .navbar-nav {
        width: 100%;
        display: table;
        padding: 0;

        li {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          padding: 0;
          float: none;
          white-space: nowrap;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }

          a {
            font-family: $font-family-sans-serif;
            font-size: 18px;
            padding: 6px 6px 4px 6px;
            color: $white;
            height: 45px;
            line-height: 32px;

            &.active,
            &:hover {
              color: $white;
              background: $red;
            }
          }

          &.open > a,
          &.active-trail > a {
            color: $white;
            background: $red;
          }

          &.open {
            .dropdown-menu {
              display: none;
            }
          }

          .caret {
            display: none;
          }

          .dropdown-menu {
            background: none;
            border: none;
            box-shadow: none;
            margin: 0;
            padding: 0;

            li {
              padding: 0;
              margin: 0;
              display: block;
              text-align: left;

              &.last {
                a {
                  border-radius: 0px 0px 3px 3px;
                }
              }

              a {
                padding-left: 16px;
                background: $crimsom;

                &:hover {
                  background: $red;
                }
              }
            }
          }
        }
      }

      form.search-form .form-group {
        margin: 0;

        span.fa {
          display: block;
        }
      }
    }
  }
}