.page-inicio {
  .idea-teaser-list {
    .view-footer {
      margin: 50px 20px 50px 0;
      text-align: right;
    }
  }

  #block-innova-display-innova-ideas-states-summary {
    background: $white;
    padding-top: 40px;

    .container {
      text-align: center;

      ul {
        list-style: none;
        width: 90%;
        margin: 0 auto 50px auto;
        padding: 0;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 70%;
          z-index: 5;
          margin: 48px 15% 0 15%;

          background: url('../images/sprite.png') no-repeat 4px -202px;
          height: 3px;
        }

        li {
          position: relative;
          display: inline-block;
          width: 30%;

          .ideas-summary-state-item-image {
            margin: 0 auto;
            width: 40%;
            display: block;
            position: relative;
            z-index: 10;
          }

          .ideas-summary-state-item-count {
            color: $crimsom;
            font-size: 40px;
            font-weight: bold;
            display: block;
            text-align: center;
          }

          .ideas-summary-state-item-title {
            color: $mine-shaft;
            font-size: 20px;
            font-weight: bold;
            display: block;
            text-align: center;
            margin: 10px;
          }

          .ideas-summary-state-item-text {
            color: $aluminum;
            font-size: 14px;
            font-weight: normal;
            text-align: center;
            display: block;
            padding: 0 10px;
          }
        }
      }
    }

    a {
      font-size: 18px;
      line-height: 30px;
      font-weight: bold;
      margin-bottom: 70px;
      display: inline-block;
      padding: 2px 40px;
      border-radius: 2px;
      border: 1px solid $gray;
      background: $white;
      color: $mine-shaft;

      &:hover {
        border-color: $aluminum;
        background-color: $concrete;
      }
    }
  }
} 