.node-idea.node-teaser {
  border-radius: 3px;
  background: url('../images/node-teaser-left-bg.png') top left no-repeat $white;
  margin-bottom: 40px;
  border: 1px solid $iron;
  position: relative;

  .user-card {
    padding: 0;
    background: $black-haze;
    font-family: $font-family-sans-arial;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    color: $mine-shaft;
    width: 140px;
    position: static;
    margin-bottom: 25px;

    .field-name-innova-authored-block {
      margin-top: 20px;
    }

    .field {
      margin-bottom: 15px;
    }

    .field-name-innova-user-karma-img,
    .field-name-ds-user-picture {
      margin-bottom: 0;
    }

    .field-name-innova-user-fullname {
      padding: 0 5px;

      a {
        color: $mine-shaft;
        font-weight: bold;
      }
    }

    .field-name-field-karma {
      color: $jumbo;
      margin-bottom: 25px;
    }

    .group-counter-block {
      @include clearfix();
      border-bottom-left-radius: 3px;
      background: $crimsom;
      position: absolute;
      width: 140px;
      bottom: 0;

      .field {
        @extend .col-md-4;
        margin-bottom: 0;
        color: $white;
        font-weight: bold;
        font-size: 15px;
        padding: 5px 0;

        &:before {
          content: "";
          float: right;
          height: 25px;
          margin-top: 4px;
          border-right: 1px solid rgba(255, 255, 255, 0.30);
        }

        &:last-of-type:before {
          border: none;
        }

        .field-item:before {
          @extend .fa;
          text-align: center;
          display: block;
          margin: 0 auto 4px auto;
        }
      }

      .field-name-innova-comment-count {
        .field-item:before {
          @extend .fa-comment;
        }
      }

      .field-name-flag-count-like-idea {
        .field-item:before {
          @extend .fa-heart;
        }
      }

      .field-name-flag-count-follow-idea {
        .field-item:before {
          @extend .fa-thumb-tack;
        }
      }
    }

    .author-idea-block.multi-user {
      .multi-user-header {
        display: block;
        text-align: center;
        color: $mine-shaft;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 22px;

        &:before {
          @extend .fa;
          @extend .fa-group;

          display: block;
          text-align: center;
          font-size: 45px;
          margin: 30px auto 15px auto;
          color: $aluminum;
        }
      }

      .multi-user-toggle {
        cursor: pointer;

        &:before {
          @extend .fa;
          @extend .fa-plus-circle;

          margin: 0 auto;
          text-align: center;
          display: block;
          font-size: 24px;
          margin-bottom: 10px;
          color: $violet;
        }

        &.active:before {
          @extend .fa-minus-circle;
        }

        a {
          background: $violet;
          color: $white;
          font-size: 12px;
          font-weight: bold;
          display: inline-block;
          padding: 4px 12px;
          border-radius: 2px;
        }
      }
    }

    .author-idea-members {
      position: absolute;
      top: 0;
      z-index: 10;
      background: white;
      display: none;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          width: 33.3333%;
          float: left;
          box-sizing: border-box;
          position: relative;

          .field-name-innova-user-picturekarma {
            margin: 15px 0 5px 0;
          }

          .field-name-innova-user-fullname {
            margin-bottom: 0;
          }

          .field-name-field-karma {
            margin-bottom: 0;
            position: absolute;
            width: 100%;
            bottom: 5px;
          }

          &:nth-child(1),
          &:nth-child(2) {
            border-right: 1px solid $concrete;
            border-bottom: 1px solid $concrete;
          }

          &:nth-child(3) {
            border-bottom: 1px solid $concrete;
          }

          &:nth-child(4),
          &:nth-child(5) {
            border-right: 1px solid $concrete;
          }
        }
      }
    }
  }

  .idea-info {
    padding: 0 20px 15px 20px;
    width: 558px;
    position: relative;

    .field-name-innova-idea-related-contest {
      position: absolute;
      right: 18px;
      top: -10px;

      a {
        font-size: 11px;
        color: $white;
        background: $crimsom;
        text-transform: uppercase;
        display: block;
        background: url('../images/sprite.png') no-repeat -346px -104px;
        width: 48px;
        height: 45px;
        text-indent: -99999px;
        position: relative;
        z-index: 20;
      }

      .wrapper-idea-contest {
        &.winner {
          // background: $tacha;
        }
      }
    }

    .field-name-post-date,
    .field-name-field-status {
      display: block;
      float: left;
      padding: 20px 20px 0 0;

      font-size: 12px;
      font-weight: bold;
      text-transform: lowercase;
      color: $aluminum;

      .field-item,
      .field-label {
        line-height: 27px
      }
    }

    .field-name-field-status {
      .field-item {
        color: $mine-shaft;

        &:after {
          @extend .fa;
          @extend .fa-unlock:before;

          padding-left: 8px;
          font-size: 18px;
          color: $crimsom;
        }
      }
    }

    .field-name-title {
      clear: both;

      h2 {
        margin-top: 0;
        margin-bottom: 8px;

        a {
          font-family: $font-family-sans-arial;
          color: $mine-shaft;
          font-size: 20px;
        }
      }
    }

    .field-type-text-with-summary {
      font-family: $font-family-sans-arial;
      font-size: 12px;
      margin-bottom: 35px;
    }

    .group-idea-flag-buttons {
      position: absolute;
      bottom: 15px;

      .field {
        display: inline-block;

        a {
          font-size: 12px;
          color: $crimsom;
          padding-right: 5px;
        }

        &.field-name-flag-like-idea {
          border: none;

          a {
            padding-left: 5px;
            border-left: 1px solid $crimsom;
          }
        }
      }

      a {

      }
      
      .flag-throbber {
        display: none;
      }
    }

    .field-name-node-link {
      position: absolute;
      bottom: 15px;
      right: 20px;
    }
  }

  &.status_Cerrada {
    .idea-info {
      .field-name-field-status {
        .field-item {
          &:after {
            @extend .fa-lock:before;
            color: $lily-white;
          }
        }
      }
    }

    .user-card .group-counter-block {
      background: $tiara;
    }
  }
}

.node-idea.view-mode-search_result {
  position: relative;
  padding: 22px 0 22px 0;
  border-bottom: 1px solid $concrete;

  .group-icon-wrapper {
    display: table;
    width: 100%;
    vertical-align: middle;;

    &:before {
      @extend .fa;
      @extend .fa-lightbulb-o;

      display: table-cell;
      font-size: 35px;
      color: $iron-white;
      width: 80px;
    }

    .field-name-title {
      display: table-cell;
      vertical-align: middle;;

      .label-above {
        font-size: 12px;
        color: $aluminum;
      }

      h3 {
        font-size: 14px;
        margin: 3px 0 0 0;
        font-weight: bold;
      }
    }
  }
}

.node-idea.view-mode-ideas_most_popular {
  > .field {
    display: inline-block;
    margin-right: 5px;

    &.field-name-title {
      display: block;
      margin-right: 0;
      margin-bottom: 4px;

      h4 {
        margin: 0;
      }

      a {
        font-size: 12px;
        font-weight: bold;
      }
    }

    &.field-name-innova-comment-count {
      .field-item {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        font-weight: bold;
        color: $aluminum;
      }

      .field-items:before {
        @extend .fa;
        @extend .fa-comment;

        margin-right: 7px;
        color: $aluminum;
        display: inline-block;
      }
    }

    &.field-name-flag-count-like-idea {
      .field-item {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        font-weight: bold;
        color: $aluminum;
        padding-right: 10px;
      }

      .field-items:before {
        @extend .fa;
        @extend .fa-heart;

        margin-right: 7px;
        color: $aluminum;
        display: inline-block;
      }
    }
  }
}

.node-idea.view-mode-idea_mini_sidebar {
  .field-name-title {
    h2 {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .field-name-flag-count-like-idea {
    font-size: 12px;
    font-weight: bold;
    color: $tiara;

    .field-item {

    }
  }

  .field-name-innova-comment-count {
    font-size: 12px;
    font-weight: bold;
    color: $tiara;

    .field-item {

    }
  }
}