.node-news.node-teaser {
  .field-name-post-date {
    color: $aluminum;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .field-name-title {
    h2 {
      margin-top: 0;
      margin-bottom: 12px;
    }

    a {
      font-size: 20px;
      font-weight: bold;
      font-family: $font-family-sans-arial;
      color: $mine-shaft;

      &:hover {
        color: $crimsom;
      }
    }
  }

  .field-name-body {
    color: $aluminum;
    font-size: 13px;
  }

  .field-name-node-link  {
    padding-top: 10px;

    a {
      padding: 4px 12px;
    }
  }
}

.node-news.view-mode-full {
  .field-name-title {
    h2 {
      font-family: $font-family-sans-serif;
      font-size: 36px;
      font-weight: bold;
    }
  }

  .field-name-submitted-by {
    font-size: 12px;
    color: $aluminum;
    margin-top: 25px;

    a {
      color: $aluminum;
    }
  }

  .field-name-body {
    margin-top: 20px;
  }
}

.node-news.view-mode-last_news {
  .group-left {
    width: auto;
    margin-right: 12px;
  }

  .group-right {
    width: 109px;
  }

  &.group-one-column .group-right {
    width: auto;
  }

  .field-name-post-date {
    font-size: 11px;
    color: $aluminum;
    margin-bottom: 5px;
  }

  .field-name-title {
    font-size: 12px;
    font-weight: bold;
  }
}

.node-news.view-mode-search_result {
  @extend .node-idea.view-mode-search_result;

  .group-icon-wrapper {
    &:before {
      color: $white;
    }
  }
}