.node-contest {
  &.view-mode-full {
    .contest-sidebar {
      padding-top: 40px;
    }

    .contest-header {
      background: url("../images/user-header-tile.png") 0px 330px repeat-x;
      padding-bottom: 80px;
    }

    .group-contest-tabs {
      margin-top: -36px;

      .panel-default {
        border: none;
        box-shadow: none;
      }

      .horizontal-tabs {
        border: none;

        fieldset.horizontal-tabs-pane {
          padding: 0;
        }

        ul.horizontal-tabs-list {
          border: none;
          background: none;

          li {
            border: none;
            background: none;
            height: 32px;
            margin-right: 5px;

            a {
              padding: 8px 20px;
              color: $aluminum;
              border-radius: 3px 3px 0 0;

              &:hover {
                background: $white;
              }
            }

            strong {
              font-weight: normal;
            }

            &.selected {
              a {
                background: $white;
              }

              strong {
                font-weight: bold;
                color: $mine-shaft;
              }
            }
          }
        }

        .panel-body {
          padding: 0;
          margin-top: 40px;

          .block-title {
            display: none;
          }
        }
      }

      .group-contest-info-tab {
        .field {
          margin-top: 20px;

          .field-label {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 15px;
          }
        }

        .field-type-text-with-summary {
          margin-top: 0;
        }
      }


      .field-name-innova-idea-related-contest {
        display: none;
      }
    }

    .group-contest-winners-item {
      .ds-3col {
        display: table;
        width: 100%;
        border-bottom: 1px solid $lily-white;
        margin-bottom: 10px;

        h3 {
          font-size: 12px;
          font-weight: bold;
        }

        > .group-first,
        > .group-second,
        > .group-third {
          display: table-cell;
          width: 25%;
          float: none;
          vertical-align: middle;
        }

        > .group-first {
          width: 40%;
        }

        > .group-second {
          width: 35%;
        }
      }

      .ds-4col {
        display: table;
        width: 100%;

        > .group-first,
        > .group-second,
        > .group-third,
        > .group-fourth {
          display: table-cell;
          width: 25%;
          float: none;
          vertical-align: middle;
        }

        > .group-first {
          width: 5%;
        }

        > .group-second {
          width: 35%;
        }

        > .group-third {
          width: 35%;
        }

        .field-name-innova-authored-block {
          display: table;
          width: 100%;

          .ds-2col-fluid > .group-left {
            display: table-cell;
            float: none;
            width: 75px;
            vertical-align: middle;
          }

          .ds-2col-fluid > .group-right {
            display: table-cell;
            float: none;
            width: auto;
            vertical-align: middle;
          }

          .field-name-innova-user-fullname a {
            color: $mine-shaft;
            font-size: 12px;
            font-weight: bold;
          }

          .field-name-field-karma {
            color: $jumbo;
            font-size: 12px;
          }
        }

        .field-name-title h2,
        .field-name-innova-display-ds-field-idea-award-contest {
          font-size: 12px;
          font-family: $font-family-sans-arial;
          font-weight: normal;
        }
      }
    }

    .field-name-field-winners {
      .field-item {
        .node-idea.view-mode-ideas_contestwinner_list {
          padding: 10px 0;
          border-bottom: 1px solid $lily-white;
        }

        &:last-of-type .node-idea.view-mode-ideas_contestwinner_list {
          border-bottom: 0;
        }
      }
    }

    .contest-ratios {
      text-align: center;
      border-collapse: collapse;

      td, th {
        padding: 6px;
        border: 1px solid white;
      }

      th {
        border-bottom: 3px solid white;
        background: $crimsom;
        color: $white;
      }

      tbody {
        tr.first td {
          background: $coral;
        }

        tr.second td {
          background: $tutu;
        }
      }
    }
  }

  .innova-contest-header.contest-closed {
    .contest-status {
      @include background-alpha($mine-shaft, 0.78);

      h3 {
        background: none;
        display: inline-block;
        margin-right: 30px;
      }

      .contest-date {
        display: inline-block;
        line-height: 26px;
        font-size: 12px;
      }
    }
  }

  .field-name-field-header-image {
    overflow: hidden;
    border-radius: 3px;
  }

  .group-overlay-slidehome {
    border-radius: 3px;
    padding: 0;
  }
}

.node-contest.view-mode-search_result {
  @extend .node-idea.view-mode-search_result;

  .group-icon-wrapper {
    &:before {
      // Using @extend here won't override the value that comes from extending the node-idea styles
      content: "";
    }
  }
}