.user-sidebar .block,  // Used in blocks displayed via DS, see user details
.contest-sidebar .block, // Used in blocks displayed via DS, see contest details
.region-sidebar-second .block {
  margin-top: 45px;

  &:first-of-type {
    margin-top: 0px;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

  .block-title {
    font-size: 12px;
    font-weight: bold;
    font-family: $font-family-sans-arial;
    margin-bottom: 15px;
    margin-top: 0;

    &:before {
      @extend .fa;
      @extend .fa-user;

      font-size: 21px;
      vertical-align: middle;
      margin: 0 10px 0 15px;
      color: $iris;
    }
  }

  > div.view {
    padding: 20px 12px;
    background: $black-haze;
    border-radius: 3px;
  }

  .views-row {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $athens;
  }

  .views-row-last {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  // Usuarios mejor valorados
  &#block-views-ranking-block-1 {
    > div.view {
      padding: 20px 10px;
    }

    .views-row {
      padding-left: 53px;
      background: url('../images/assets/ranking-1.png') 0px 12px no-repeat;
    }

    .views-row-2 {
      background-image: url('../images/assets/ranking-2.png');
    }

    .views-row-3 {
      background-image: url('../images/assets/ranking-3.png');
    }

    .views-row-4 {
      background-image: url('../images/assets/ranking-4.png');
    }

    .views-row-5 {
      background-image: url('../images/assets/ranking-5.png');
    }

    .user-profile.view-mode-item_list_user_mini_sidebar {
      .group-left {
        width: 46px;
        margin-right: 10px;
      }

      .group-right {
        width: 91px;
      }

      .field-name-field-karma {
        color: $jumbo;
        font-size: 11px;
        margin-top: 12px;
      }

      .field-name-innova-user-points-count {
        color: $jumbo;
        font-size: 11px;

        // TODO: Sobreescribir tpl para sacar esto via t()
        .field-item:after {
          content: " puntos";
        }
      }

      .field-name-innova-user-fullname {
        font-size: 12px;
        font-weight: bold;
        padding-top: 8px;
      }

      .user-picture-wrapper {
        width: 40px;
        height: 40px;

        &:after {
          width: 20px;
          height: 20px;
          left: -6px;
          top: -6px;
        }

        &.karma_0:after {
          background-position: -233px -103px;
        }

        &.karma_100:after {
          background-position: -233px -141px;
        }

        &.karma_500:after {
          background-position: -233px -178px;
        }

        &.karma_1500:after {
          background-position: -307px -177px;
        }

        &.karma_3000:after {
          background-position: -308px -141px;
        }

        &.karma_6000:after {
          background-position: -308px -103px;
        }
      }
    }
  }

  // Retos activos
  &#block-views-contest-block-1 {

  }

  // Ultimas noticias
  &#block-views-news-block-1 {
    .block-title {
      &:before {
        content: "";
      }
    }
  }

  // Ultimos comentarios
  &#block-views-comments-recent-block {
    .block-title {
      &:before {
        @extend .fa-comment;
      }
    }
  }

  // Ideas que más se mueven
  &#block-innova-display-innova-ideas-most-popular {
    .block-title {
      &:before {
        @extend .fa-lightbulb-o;
      }
    }

    > ul {
      padding: 20px 10px;
      margin: 0;
      list-style: none;
      background: $black-haze;
      border-radius: 3px;

      > li {
        min-height: 50px;
        padding-left: 56px;
        background: url('../images/assets/ranking-idea-1.png') 0px 12px no-repeat;
        border-bottom: 1px solid $athens;
        margin-bottom: 20px;
        padding-bottom: 20px;

        &:nth-child(2) {
          background-image: url('../images/assets/ranking-idea-2.png');
        }

        &:nth-child(3) {
          background-image: url('../images/assets/ranking-idea-3.png');
        }

        &:nth-child(4) {
          background-image: url('../images/assets/ranking-idea-4.png');
        }

        &:nth-child(5) {
          background-image: url('../images/assets/ranking-idea-5.png');
        }

        &.last {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  // Más ideas de este usuario
  &#block-views-ideas-block-1 {
    .block-title {
      &:before {
        @extend .fa-lightbulb-o;
      }
    }

    .views-row {
      background: url('../images/assets/lightbulb-bg.png') 10px 0px no-repeat;
      padding-left: 55px;
    }
  }

  &#block-views-ideas-block-7 {
    .block-title {
      color: $aluminum;

      &:before {
        display: none;
      }
    }
  }

  &#block-views-contest-block-1 {
    > div.view {
      padding: 0;
      background: transparent;
    }

    .views-row {
      border-radius: 3px;
      margin-bottom: 30px;
      border-bottom: none;
      padding-bottom: 0;
      position: relative;
      z-index: 10;

      &.views-row-last {
        margin-bottom: 0;
      }

      &:before {
        content: "";
        display: block;
        background: url('../images/assets/banner-reto.png') center center no-repeat;
        width: 48px;
        height: 45px;
        position: absolute;
        left: 20px;
        top: -9px;
        z-index: 5;
      }

      .views-field-field-header-image {
        width: 220px;
        height: 165px;
        border-radius: 3px;
        overflow: hidden;
        position: relative;
        z-index: -5;
      }

      .views-field-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 220px;
        height: 165px;

        a {
          color: $white;
          font-weight: bold;
          font-size: 20px;
          display: block;
          padding-top: 60px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}