.pagination {
  @include clearfix();

  display: block;

  > li {
    > a {
      color: $aluminum;
      background: $white;
      border-color: $iron;
      border-radius: 3px;
      margin-right: 10px;
      font-size: 16px;
      padding: 4px 10px;

      &.progress-disabled {
        float: left;
      }
      
      .ajax-progress {
        display: none;
      }
    }

    > a:hover {
      color: $white;
      font-weight: bold;
      border-color: $baltic-sea;
      background: $baltic-sea;
    }

    &.pager-ellipsis {
      display: none;
    }
  }

  > .active {
    > a:focus,
    > a:hover,
    > a {
      font-weight: bold;
      border-color: $baltic-sea;
      background: $baltic-sea;
    }
  }
}