/**
 * CSS for Admin Board
 *
 */

 .wrapper-admin-data {
 	border: 1px solid #ccc;
 	padding: 10px;
 	text-align: center;
 	margin: 5px;
 	float: left;
 }
 .dashboard-block label {
 	color: #666;
 	margin-top: 10px;
 }
 .dashboard-block .data {
 	font-size: 25px;
 }

