// Primary colors
// -------------------------

$crimsom: #E60000;
$white: #FFFFFF;
$mine-shaft: #333333;
$black: #000000;

// Infrastructure colors
// -------------------------

$iron: #CCCCCC;
$lily-white: #EBEBEB;
$concrete: #F4F4F4;
$saltpan: #F4F8F0;
$pipi: #FEF5CC;

// Secondary colors
// -------------------------
$violet: #9C2AA0;
$finn: #5E2750;
$lagoon: #007C92;
$fern: #428600;
$tangerine: #FECB00;
$orange: #FF5400;
$granate: #990000;

// Alert colors
// -------------------------
$pink: #FFF5F0;
$knot: #FEF0F0;
$saltpan: #F4F8F0;

// Extra colors
// -------------------------
$red: #BE0000;
$thunder: #4A4D4E;
$magnesium: #B2B2B2;
$white-red: #ECF0F1;
$aluminum: #999999;
$iris: #00B0CA;
$gray: #BEBEBE;
$lightgrey: #D5D5D5;
$baltic-sea: #3D3D3D;
$darkgrey: #777777;
$eggplant: #9A299D;
$jumbo: #868686;
$athens: #E0E0E0;
$cerise: #680F6B;
$tacha: #DBBC59;
$iron-white: #D8D8D8;
$black-haze: #F6F8F8;
$tiara: #B9BEC0;
$fgray: #BEBDBD;
$coral: #F5CBCB;
$tutu: #FAE7E7;