@font-face {
  font-family: 'VodafoneRg';
  src: url('../fonts/vodafone/VodafoneRg.eot'); /* IE9 Compat Modes */
  src: url('../fonts/vodafone/VodafoneRg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/vodafone/VodafoneRg.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/vodafone/VodafoneRg.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/vodafone/VodafoneRg.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/vodafone/VodafoneRg.svg#svgFontName') format('svg'); /* Legacy iOS */

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VodafoneRg';
  src: url('../fonts/vodafone/VodafoneRg_Bd.eot'); /* IE9 Compat Modes */
  src: url('../fonts/vodafone/VodafoneRg_Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/vodafone/VodafoneRg_Bd.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/vodafone/VodafoneRg_Bd.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/vodafone/VodafoneRg_Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/vodafone/VodafoneRg_Bd.svg#svgFontName') format('svg'); /* Legacy iOS */

  font-weight: bold;
  font-style: normal;
}