a,
a:hover,
a:active,
a:focus {
  color: $mine-shaft;
  text-decoration: none;
  outline: 0;
}

a:hover {
  color: $aluminum;
}

.page-header {
  border-bottom: none;
}

body {
  font-family: $font-family-sans-arial;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-radius: 3px 0 0 3px
}

input,
textarea,
select {
  color: $mine-shaft;
}

.form-control {
  color: $mine-shaft;
}

.flag-waiting .flag-throbber {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url('../images/spinner.gif') center center no-repeat;
  vertical-align: middle;

  //display: inline-block;
  display: none;
}

.container,
.main-container,
.footer,
.region-page-bottom {
  min-width: 940px !important;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.main-container {
  min-height: 500px;
}

.horizontal-tabs .panel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}